[Desktop Entry]
Name=Todo Square
Keywords=Todo;square;notes;
Comment=Keep track of your todo's in this handy square!
Type=Service
Icon=view-list-icons
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/todosquare.qml

X-KDE-PluginInfo-Author=Robin Krens
X-KDE-PluginInfo-Email=robin@robinkrens.nl
X-KDE-PluginInfo-Name=org.kde.plasma.todosquare
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=desktop
