[Desktop Entry]
Encoding=UTF-8
Name=Qt-todo-square
Comment=Qt todo square
Type=Service

X-KDE-Library=plasma_applet_todo_square
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Robin
X-KDE-PluginInfo-Email=robin@robinkrens.nl
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.todo_square
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Windows and Tasks

